.submit {
    background-color: #007cfb;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    transition:.5s;
    border: 0px;
    margin-top: 20px;
}
.service-form input{
    border: 1px solid #ddd;
    margin-bottom: 15px;
    height: 40px;
    width:100%;
}
