footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #edf6ff;
}
ul {
    padding: 0;
    margin: 0;
}
.footer-info img {
    margin-bottom: 20px;
    max-width: 120px;
}
.footer-info ul li{
    list-style: none;
    margin-bottom: 5px;
}
.footer-link h3 {
    font-size:22px;
    color: #15287d;
    margin-bottom: 20px;
}
.footer-link ul li {
    list-style: none;
    margin-bottom: 5px;
}
.copyright {
    background-color: #324d68;
    padding: 20px 0;
}
.copyright p {
    margin-bottom: 0;
    color: #fff
}